<%- include('htmlheader'); -%>

<p>your profile:</p>
<form action="/social/updateprofile" method="POST">
<textarea name="profile"><%- profile %></textarea>
<input type="submit" value="update">
</form>

</body>

</html>
