<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>DMS 321 socialMedia</title>
<% if (locals.opts) { %><%- opts %><% } %>
</head>
    
<body>
<h1>social media</h1>
<table>
<tr>
<td><a href="/social">home</a></td>
<td><a href="/social/myprofile">profile</a></td>
<td><a href="/social/following">following</a></td>
<td><a href="/social/followers">followers</a></td>
<td><a href="/social/logout">log out</a></td>
</tr>
</table>
