<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>DMS 321 socialMedia</title>
</head>
    
<body>

<h1>socialMedia #5</h1>
<a href="/social/">home</a>
<a href="/social/logout">log out</a>

<p>your profile:</p>
<form action="/social/newpost" method="POST">
<textarea name="profile">your profile goes here</textarea>
<input type="submit" value="update" id="updatepost">
</form>

</body>

</html>
