<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>DMS 321 socialMedia</title>
</head>
    
<body>

<h1>socialMedia #5</h1>
<a href="/social/">home</a>
<a href="/social/logout">log out</a>

<p>screenname</p>
<div>their profile goes here</div>
<a href="/social/unfollow/123">unfollow</a>

<p>posts:</p>
<h2>10 april 2022</h2>
<p>lorem ipsum 2</p>
<h2>1 april 2022</h2>
<p>lorem ipsum 1</p>

</body>

</html>
