<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>DMS 321 socialMedia</title>
</head>
    
<body>

<h1>socialMedia #5</h1>
<a href="/social/">home</a>
<a href="/social/logout">log out</a>

<p>search results</p>

<table>
<tr>
<td><a href="/social/profile/123">otheruser 1</a></td>
<td><a href="/social/follow/123">follow</a></td>
</tr>
<tr>
<td><a href="/social/profile/124">otheruser 2</a></td>
<td><a href="/social/unfollow/124">unfollow</a></td>
</tr>
<tr>
<td><a href="/social/profile/125">otheruser 3</a></td>
<td><a href="/social/follow/125">follow</a></td>
</tr>
</table>

</body>

</html>
