<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>RPS Royale</title>
<link href="style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<% if (locals.opts) { %><%- opts %><% } %>
</head>
    
<body>
<div id="maindiv">
<a href="."><span class="material-icons">home</span></a>
<h1>RPS Royale</h1>
