<%- include('header'); %>

<h2>scoreboard</h2>

<table>
<tr><th>name</th><th>score</th></tr>
<tr><td>Art Tripp</td><td>17</td></tr>
<tr><td>Zoot Horn Rollo</td><td>11</td></tr>
</table>

<%- include('footer'); %>
